
:root {
  --blue : rgb(118, 40, 219);
  --white : rgb (236,236,236);
 }
 body.light{
   --background-color : var(--white);
   --text-color : var(--black);
   --font-weight:400;
   /* --img:url("./moon.png"); */
 }
 
 body.dark{
   --background-color : var(--blue);
   --text-color : var(--white);
   --font-weight:600;
   /* --img:url(""); */
 
 }

body {
  margin: 0;
  font-family: "ubuntu" ,sans-serif;
background: var(--background-color);
color:var(--text-color);
font-weight: var(--font-weight);
transition : background 0.3s ease-in-out , color 0.6s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
