
:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
 }
 body.light{
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
   /* --img:url("./moon.png"); */
 }
 
 body.dark{
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
   /* --img:url(""); */
 
 }

body {
  margin: 0;
  font-family: "ubuntu" ,sans-serif;
background: var(--background-color);
color:var(--text-color);
font-weight: var(--font-weight);
transition : background 0.3s ease-in-out , color 0.6s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
